body {
    margin:0;
    background-color: #424242;
}

#banner {
    --height: 100px;
    --height-neg: -100px;
    background-color: white;
    width: 260px;
    height: var(--height);
    padding: 10px;
    margin: auto;
    position:absolute;
    top: 50%;
    left:50%;
    margin-top: var(--height-neg);
    margin-left: -220px;
}

#banner-logo {
    float:left;
    height: 100%;
}

#banner-text {
    padding-left:10px;
    height: 100%;
    text-align: center;
    display: table;
}

@font-face {
    font-family: 'Xolonium';
    src: url('./misc/fonts/xolonium/Xolonium-Regular.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Xolonium";
    src: url('./misc/fonts/xolonium/Xolonium-Bold.otf') format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: 'nimbus-sans-l';
    font-style: normal;
  font-weight: normal;
    src: url('./misc/fonts/nimbus-sans-l/nimbus-sans-l_regular.ttf') format('truetype');
}
@font-face {
    font-family: 'nimbus-sans-l';
    src: url('./misc/fonts/nimbus-sans-l/nimbus-sans-l_bold.ttf') format('truetype');
    font-weight: bold;
}

p {
    margin: 5px;
    font-family: 'nimbus-sans-l';
}

h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 5px;
    font-family: 'Xolonium', 'nimbus-sans-l';
}

a:link {
    color:#000000;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 5px;
    font-family: 'Xolonium', 'nimbus-sans-l';
}

a:visited {
    color:#000000;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 5px;
    font-family: 'Xolonium', 'nimbus-sans-l';
}

a:hover {
    color:#FF0000;
}

a:active{
    color:#FF0000;
}
